* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #f4f5f5;
}
div{
    display: block;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

main {
    margin: auto;
    max-width: 960px;

}

.view-container {
    position: relative;
    text-align: center;

}

.main-header.visible[data-v-576c25a1] {
    transform: translateZ(0);
}
.main-header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s;
    transform: translate3d(0, -100%, 0);
    border-bottom: 1px solid #f1f1f1;
    z-index: 250;
}
.navbar1 {
    height: 100%;
    position: relative;
    min-height: 60px;
}

/*header {*/
/*margin: 0 auto;*/
/*height: 60px;*/
/*border-bottom: 1px solid hsla(0, 0%, 59.2%, .2);*/
/*}*/
.main-header-box {
    position: relative;
    height: 5rem;
    background-color: #fff;
}



.container {
    display: flex;
    margin: auto;
    max-width: 960px;
    position: relative;

}

.header-nav {
    width: 100px;
    height: 5rem;
    margin-right: 3%;
    padding: 10px 15px 10px 15px;
    text-align: center;
}


.search-img {
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

.search-input {
    padding: 10px;
    height: 25px;
    width: 100%;
    border: none;
    outline: none;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-form {
    margin-left: 20%;
    width: 60%;
    display: flex;
    padding: 5px;
    border: 1px solid hsla(0, 0%, 59.2%, .2);
}


.search-form.active {
    border: 1px solid blue;
}

li {
    text-align: center;
    list-style: none;
}

ul {
    display: flex;
}

.nav-item {
    font-size: 1.6rem;
    align-items: center;
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    line-height: 1;
}

.navs {
    height: 60px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.nav-li {
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

.nav-li > a:hover {
    color: #007fff;
}

.active {

}

.navs > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

ul {
    padding: 0;
    margin: 0;
}

li.active > a {
    color: #007fff;
}
.view-nav, .view-nav:before {
    left: 0;
    background-color: #fff;
}
.view-nav:before{

}
.view-nav {
    position: fixed;
    top: 5rem;
    width: 100%;
    height: 3.833rem;
    z-index: 100;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    transition: all .2s;
    transform: translateZ(0);
}
.view-nav .nav-list {
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    line-height: 1;
}
.nav-list {
    position: relative;
}
.list-header {
    display: flex;
     padding: 1.3rem 1rem;
     border-bottom: 1px solid hsla(0,0%,59.2%,.1);
 }
.welcome-context {
    display: flex;
    align-items: flex-start;
    margin-top: .33rem;
    background-color: #fff;
}
.welcome-context .welcome__feed {
    overflow: hidden;
    flex-grow: 1;

}
.category-nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.main-container>.view[data-v-49c20cc0] {
    margin-top: 8px;
}

.main-container>.view[data-v-576c25a1] {
    margin-top: 8px;
}
.category-nav .list-header[data-v-8db162a4] {
    width: 100%;
}
.list-header {
    padding: 1.3rem 1rem;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}
.list-nav{
    display: flex;
}